# Table of Contents

1. [Importing Data & Libraries](#1.-Importing-Data-&-Libraries)
    
    1.1 [Initial Exploration](#1.1-Initial-Exploration) <br><br>
    
2. [Exploratory Data Analysis](#2.Exploratory-Data-Analysis)

    2.1 [Missing Values](#2.1-Missing-Values)
    
    2.2 [Duplicates](#2.2-Duplicates)
    
    2.3 [Incoherencies](#2.3-Incoherencies)
    
    2.4 [Outliers](#2.4-Outliers)
    
    2.5 [Feature Engineering](#2.5-Feature-Engineering)
    
    2.6 [Visualisations](#2.6-Visualisations) <br><br>

# 1. Importing Data & Libraries

In [34]:
import pandas as pd
import numpy as np 
from ydata_profiling import ProfileReport

pd.set_option('display.max_columns', None)


import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('./DM2425_ABCDEats_DATASET.csv')
data

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,CUI_American,CUI_Asian,CUI_Beverages,CUI_Cafe,CUI_Chicken Dishes,CUI_Chinese,CUI_Desserts,CUI_Healthy,CUI_Indian,CUI_Italian,CUI_Japanese,CUI_Noodle Dishes,CUI_OTHER,CUI_Street Food / Snacks,CUI_Thai,DOW_0,DOW_1,DOW_2,DOW_3,DOW_4,DOW_5,DOW_6,HR_0,HR_1,HR_2,HR_3,HR_4,HR_5,HR_6,HR_7,HR_8,HR_9,HR_10,HR_11,HR_12,HR_13,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,28.88,0.00,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,12.82,6.39,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,9.20,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,0.00,13.70,0.00,0.0,0.0,0.0,0.00,0.0,17.86,0.00,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,14.57,40.87,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,1,0.0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31883,f4e366c281,8670,30.0,1,1,1,NaN,0,FREEBIE,DIGI,0.00,0.00,18.04,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
31884,f6b6709018,8670,NaN,1,1,0,NaN,0,DELIVERY,DIGI,18.04,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
31885,f74ad8ce3f,8670,24.0,1,1,1,NaN,0,-,DIGI,0.00,0.00,0.00,0.0,0.0,0.0,17.79,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31886,f7b19c0241,8670,34.0,1,1,0,NaN,0,DISCOUNT,DIGI,0.00,12.03,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
31887,fd40d3b0e0,4660,30.0,1,1,0,NaN,0,-,CASH,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,7.91,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

## 1.1 Initial Exploration

In [ ]:
profile = ProfileReport(
    data, 
    title='Data',
    correlations={
        "pearson": {"calculate": True},
        "spearman": {"calculate": False},
        "kendall": {"calculate": False},
        "phi_k": {"calculate": False},
        "cramers": {"calculate": False},
    },
)

profile

# Exploratory Data Analysis

In [37]:
pd.set_option('display.max_rows', None)
data.describe().T

,count,mean,std,min,25%,50%,75%,max
customer_age,29920.0,27.501136,7.164766,15.0,23.000000,26.000000,31.0000,80.00
vendor_count,29920.0,3.033723,2.684789,0.0,1.000000,2.000000,4.0000,41.00
product_count,29920.0,5.520622,6.774177,0.0,2.000000,3.000000,6.0000,269.00
is_chain,29920.0,2.758155,3.880428,0.0,1.000000,2.000000,3.0000,83.00
first_order,29920.0,28.794853,24.207817,0.0,8.000000,22.000000,45.0000,89.00
last_order,29920.0,63.629445,23.052260,1.0,49.000000,70.000000,83.0000,90.00
CUI_American,29920.0,4.719801,11.399551,0.0,0.000000,0.000000,5.3725,280.21
CUI_Asian,29920.0,9.268516,21.879443,0.0,0.000000,0.000000,11.3900,896.71
CUI_Beverages,29920.0,2.233893,8.283690,0.0,0.000000,0.000000,0.0000,229.22
CUI_Cafe,29920.0,0.792678,6.322244,0.0,0.000000,0.000000,0.0000,326.10
CUI_Chicken Dishes,29920.0,0.747775,3.528171,0.0,0.000000,0.000000,0.0000,219.66
CUI_Chinese,29920.0,1.373000,7.812830,0.0,0.000000,0.000000,0.0000,739.73
CUI_Desserts,29920.0,0.831421,5.087629,0.0,0.000000,0.000000,0.0000,230.07
CUI_Healthy,29920.0,0.947786,5.832998,0.0,0.000000,0.000000,0.0000,255.81
CUI_Indian,29920.0,1.635548,7.480499,0.0,0.000000,0.000000,0.0000,309.07
CUI_Italian,29920.0,3.297737,11.430066,0.0,0.000000,0.000000,0.0000,468.33
CUI_Japanese,29920.0,2.987055,10.170342,0.0,0.000000,0.000000,0.0000,706.14
CUI_Noodle Dishes,29920.0,0.684067,4.436391,0.0,0.000000,0.000000,0.0000,275.11
CUI_OTHER,29920.0,3.024527,9.658294,0.0,0.000000,0.000000,0.0000,243.18
CUI_Street Food / Snacks,29920.0,3.721049,14.816936,0.0,0.000000,0.000000,0.0000,382.39
CUI_Thai,29920.0,0.839299,4.380531,0.0,0.000000,0.000000,0.0000,136.38
DOW_0,29920.0,0.538904,0.989613,0.0,0.000000,0.000000,1.0000,16.00
DOW_1,29920.0,0.554913,1.024317,0.0,0.000000,0.000000,1.0000,17.00
DOW_2,29920.0,0.578242,1.028892,0.0,0.000000,0.000000,1.0000,15.00
DOW_3,29920.0,0.605949,1.050644,0.0,0.000000,0.000000,1.0000,17.00
DOW_4,29920.0,0.666043,1.072634,0.0,0.000000,0.000000,1.0000,16.00
DOW_5,29920.0,0.638269,1.052643,0.0,0.000000,0.000000,1.0000,20.00
DOW_6,29920.0,0.683255,1.144133,0.0,0.000000,0.000000,1.0000,20.00
HR_0,29920.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.00
HR_1,29920.0,0.042012,0.273755,0.0,0.000000,0.000000,0.0000,14.00
HR_2,29920.0,0.055682,0.319348,0.0,0.000000,0.000000,0.0000,12.00
HR_3,29920.0,0.113837,0.493897,0.0,0.000000,0.000000,0.0000,11.00
HR_4,29920.0,0.096257,0.422818,0.0,0.000000,0.000000,0.0000,14.00
HR_5,29920.0,0.078944,0.353348,0.0,0.000000,0.000000,0.0000,7.00
HR_6,29920.0,0.067112,0.320289,0.0,0.000000,0.000000,0.0000,7.00
HR_7,29920.0,0.074599,0.374292,0.0,0.000000,0.000000,0.0000,15.00
HR_8,29920.0,0.129679,0.637856,0.0,0.000000,0.000000,0.0000,52.00
HR_9,29920.0,0.231250,0.716393,0.0,0.000000,0.000000,0.0000,23.00
HR_10,29920.0,0.327640,0.884921,0.0,0.000000,0.000000,0.0000,25.00
HR_11,29920.0,0.377106,0.939817,0.0,0.000000,0.000000,0.0000,23.00
HR_12,29920.0,0.313369,0.843276,0.0,0.000000,0.000000,0.0000,26.00
HR_13,29920.0,0.235394,0.635027,0.0,0.000000,0.000000,0.0000,14.00
HR_14,29920.0,0.214706,0.599941,0.0,0.000000,0.000000,0.0000,13.00
HR_15,29920.0,0.279980,0.744457,0.0,0.000000,0.000000,0.0000,23.00
HR_16,29920.0,0.362701,0.881493,0.0,0.000000,0.000000,0.0000,22.00
HR_17,29920.0,0.397326,0.951489,0.0,0.000000,0.000000,0.0000,20.00
HR_18,29920.0,0.340709,0.898967,0.0,0.000000,0.000000,0.0000,24.00
HR_19,29920.0,0.244820,0.790280,0.0,0.000000,0.000000,0.0000,35.00
HR_20,29920.0,0.139572,0.579377,0.0,0.000000,0.000000,0.0000,36.00
HR_21,29920.0,0.067346,0.333682,0.0,0.000000,0.000000,0.0000,11.00
HR_22,29920.0,0.042413,0.276609,0.0,0.000000,0.000000,0.0000,15.00
HR_23,29920.0,0.033122,0.224072,0.0,0.000000,0.000000,0.0000,11.00
days_between,29920.0,34.834592,29.346105,0.0,2.000000,33.000000,61.0000,89.00
last_promo_d,29920.0,0.893215,1.095705,0.0,0.000000,0.000000,2.0000,3.00
payment_method_d,29920.0,1.438035,0.793855,0.0,1.000000,2.000000,2.0000,2.00
total_week,29920.0,4.265575,4.949498,0.0,2.000000,3.000000,5.0000,94.00
avg_order_hour,29782.0,12.868187,4.372380,1.0,10.000000,13.750000,16.0000,23.00
total_spend,29920.0,37.104154,44.169954,0.0,12.690000,23.950000,43.8250,1418.33
total_orders,29920.0,4.265575,4.949498,0.0,2.000000,3.000000,5.0000,94.00
avg_spend_prod,29920.0,7.519886,4.070779,0.0,4.102933,6.876333,10.0800,24.39
is_repeat_customer,29920.0,0.767213,0.422615,0.0,1.000000,1.000000,1.0000,1.00
has_used_promo,29920.0,0.477707,0.499511,0.0,0.000000,0.000000,1.0000,1.00

In [ ]:
pd.reset_option('display.max_rows', None)

In [ ]:
data.info()

In [5]:
data.isna().sum()

customer_id                    0
customer_region                0
customer_age                 727
vendor_count                   0
product_count                  0
is_chain                       0
first_order                  106
last_order                     0
last_promo                     0
payment_method                 0
CUI_American                   0
CUI_Asian                      0
CUI_Beverages                  0
CUI_Cafe                       0
CUI_Chicken Dishes             0
CUI_Chinese                    0
CUI_Desserts                   0
CUI_Healthy                    0
CUI_Indian                     0
CUI_Italian                    0
CUI_Japanese                   0
CUI_Noodle Dishes              0
CUI_OTHER                      0
CUI_Street Food / Snacks       0
CUI_Thai                       0
DOW_0                          0
DOW_1                          0
DOW_2                          0
DOW_3                          0
DOW_4                          0
DOW_5                          0
DOW_6                          0
HR_0                        1165
HR_1                           0
HR_2                           0
HR_3                           0
HR_4                           0
HR_5                           0
HR_6                           0
HR_7                           0
HR_8                           0
HR_9                           0
HR_10                          0
HR_11                          0
HR_12                          0
HR_13                          0
HR_14                          0
HR_15                          0
HR_16                          0
HR_17                          0
HR_18                          0
HR_19                          0
HR_20                          0
HR_21                          0
HR_22                          0
HR_23                          0
dtype: int64

## 2.5 Feature Engineering

In [3]:
### DUVIDAS

## Valores para is_chain
## customer region code pode ser descodificado para fazer mapa?

### Possibilidades
## criar bins para as idades (tipo young - 0, old -3)

In [32]:
for column in data.columns:
    # data if the number of unique values is less than 100
    if data[column].nunique() < 100:
        # Print the unique values for that column
        print(f"Unique values in '{column}': {data[column].unique()}\n")

Unique values in 'customer_region': ['2360' '8670' '4660' '2440' '-' '4140' '2490' '8370' '8550']

Unique values in 'customer_age': [18. 17. 38. 20. 40. 24. 27. 33. 26. 21. 51. 35. 22. 31. 15. 47. 19. 28.
 32. 25. 37. 42. 48. 16. 34. 29. 23. 30. 39. 46. 41. 49. 53. 43. 36. 44.
 45. 57. 58. 68. 56. 61. 60. 54. 59. 50. 55. 52. 65. 75. 66. 79. 80. 63.
 77. 62. 69. 72. 64. 76. 74. 67. 70. 78. 71. 73.]

Unique values in 'vendor_count': [ 2  1  3  4  5  7  6 11  9  8 12 14 20 13 10 16 24 18 17 15 25 19 21 23
 22 41 40 26 30  0 34 27 28 31 35 32 29]

Unique values in 'product_count': [  5   2   3   4   6  10   8   7  26   9  32  15  16  28  19  18  11  12
  25  23  17  29  14  13  21  95  24  64  27  37  49  22  41  51  34  39
  20  31  47  40  53  38  54  35  33  56  65  45  30  63  36  79  48  70
  44  84  46  58 110 117 269  57  55  42  81  91  43  69  67  72  59   1
   0  77  97  87  73  66  76  60 109  75  62  94  80  89  82  50  61]

Unique values in 'is_chain': [ 1  2  0  3  5  4  7 12  6 23  8 11 20 14  9 10 16 15 13 27 30 32 24 18
 26 17 28 22 40 31 39 21 37 19 33 65 25 29 45 73 81 35 46 67 44 61 34 36
 49 83 75 43 42 48 63 54]

Unique values in 'first_order': [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.
 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71.
 72. 73. 74. 75. 76. 77. 78. 79. 80. 81. 82. 83. 84. 85. 86. 87. 88. 89.]

Unique values in 'last_order': [ 1  2  3  4  5  6  7  8 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25 26
 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89  9 15 90]

Unique values in 'last_promo': ['DELIVERY' 'DISCOUNT' '-' 'FREEBIE']

Unique values in 'payment_method': ['DIGI' 'CASH' 'CARD']

Unique values in 'DOW_0': [ 1  0  2  5  3  4  9  6  8 10  7 11 15 16]

Unique values in 'DOW_1': [ 0  1  2  3  6  4  9  5  8  7 11 13 15 17 10 16]

Unique values in 'DOW_2': [ 0  1  2  3  4  9  5  7  6  8 15 14 10 11 12]

Unique values in 'DOW_3': [ 0  1  2  4  3  8  5  6  9  7 10 14 11 17 13 12 16]

Unique values in 'DOW_4': [ 0  1  2  3  6 10  4  7  5  8  9 11 14 12 13 15 16]

Unique values in 'DOW_5': [ 0  1  2  3  5  4  7  9  6  8 13 10 11 15 12 20 14]

Unique values in 'DOW_6': [ 1  2  3  7  4  9  6  5  8 10 11 17 13 12 14 20  0]

Unique values in 'HR_0': [0.]

Unique values in 'HR_1': [ 0  1  2  4  5  3  9  6 14  7]

Unique values in 'HR_2': [ 0  1  2  5  7  3  6  8  4 12]

Unique values in 'HR_3': [ 0  1  2  5  7  3  4  6  8 10 11  9]

Unique values in 'HR_4': [ 0  1  2 13  5  3  7 14  4  8  6]

Unique values in 'HR_5': [0 1 2 4 3 7 5]

Unique values in 'HR_6': [0 1 2 7 3 4 5 6]

Unique values in 'HR_7': [ 0  1  2  6  3  5  4 13 14  8 15  9  7]

Unique values in 'HR_8': [ 0  1  2  4  3  6  5 10  8  7 29 21 13 26 52 20  9 12]

Unique values in 'HR_9': [ 0  1  2  3  4  5  7  8  6  9 15 10 14 23 19 13 11]

Unique values in 'HR_10': [ 0  1  2  3  4  5  6 11  7  9  8 10 17 13 14 15 20 12 25 16]

Unique values in 'HR_11': [ 0  1  2  3  5  4 12  8 11 14  7  6  9 21 13 16 23 10 17]

Unique values in 'HR_12': [ 0  1  2  3  4 13  5  9 12  8  6  7 10 16 11 14 26 17 20]

Unique values in 'HR_13': [ 0  1  2  4  7  3 11  6  5  9 10 14  8 12]

Unique values in 'HR_14': [ 0  1  3  2  4  6  5  9  7 13  8 11 10]

Unique values in 'HR_15': [ 0  1  2  3  4  5  7  8  6 10 13 16 23  9 18]

Unique values in 'HR_16': [ 0  1  2  3  4  6  5 10  7  9 13 22  8 11 12]

Unique values in 'HR_17': [ 0  1  3  2  5  4  6 12  7 10  8  9 14 13 17 20 11 18 15]

Unique values in 'HR_18': [ 2  0  1  3  4 10  8  5  6 12 11  7 24  9 20 13 14 17 15 18]

Unique values in 'HR_19': [ 0  1  2  3  4  6  5  7  9  8 20 10 16 15 35 12 11 13]

Unique values in 'HR_20': [ 0  1  3  2  5  6 22  4  7 36  9 10 12 13]

Unique values in 'HR_21': [ 0  1  2  3  6  5  4 11 10]

Unique values in 'HR_22': [ 0  1  2  3  5 12  4  7 15  6]

Unique values in 'HR_23': [ 0  1  2  5  3  4 11  6]

Unique values in 'first_order_date': ['01-01-2024' '02-01-2024' '03-01-2024' '04-01-2024' '05-01-2024'
 '06-01-2024' '07-01-2024' '08-01-2024' '09-01-2024' '10-01-2024'
 '11-01-2024' '12-01-2024' '13-01-2024' '14-01-2024' '15-01-2024'
 '16-01-2024' '17-01-2024' '18-01-2024' '19-01-2024' '20-01-2024'
 '21-01-2024' '22-01-2024' '23-01-2024' '24-01-2024' '25-01-2024'
 '26-01-2024' '27-01-2024' '28-01-2024' '29-01-2024' '30-01-2024'
 '31-01-2024' '01-02-2024' '02-02-2024' '03-02-2024' '04-02-2024'
 '05-02-2024' '06-02-2024' '07-02-2024' '08-02-2024' '09-02-2024'
 '10-02-2024' '11-02-2024' '12-02-2024' '13-02-2024' '14-02-2024'
 '15-02-2024' '16-02-2024' '17-02-2024' '18-02-2024' '19-02-2024'
 '20-02-2024' '21-02-2024' '22-02-2024' '23-02-2024' '24-02-2024'
 '25-02-2024' '26-02-2024' '27-02-2024' '28-02-2024' '29-02-2024'
 '01-03-2024' '02-03-2024' '03-03-2024' '04-03-2024' '05-03-2024'
 '06-03-2024' '07-03-2024' '08-03-2024' '09-03-2024' '10-03-2024'
 '11-03-2024' '12-03-2024' '13-03-2024' '14-03-2024' '15-03-2024'
 '16-03-2024' '17-03-2024' '18-03-2024' '19-03-2024' '20-03-2024'
 '21-03-2024' '22-03-2024' '23-03-2024' '24-03-2024' '25-03-2024'
 '26-03-2024' '27-03-2024' '28-03-2024' '29-03-2024' '30-03-2024']

Unique values in 'last_order_date': ['02-01-2024' '03-01-2024' '04-01-2024' '05-01-2024' '06-01-2024'
 '07-01-2024' '08-01-2024' '09-01-2024' '11-01-2024' '12-01-2024'
 '13-01-2024' '14-01-2024' '15-01-2024' '17-01-2024' '18-01-2024'
 '19-01-2024' '20-01-2024' '21-01-2024' '22-01-2024' '23-01-2024'
 '24-01-2024' '25-01-2024' '26-01-2024' '27-01-2024' '28-01-2024'
 '29-01-2024' '30-01-2024' '31-01-2024' '01-02-2024' '02-02-2024'
 '03-02-2024' '04-02-2024' '05-02-2024' '06-02-2024' '07-02-2024'
 '08-02-2024' '09-02-2024' '10-02-2024' '11-02-2024' '12-02-2024'
 '13-02-2024' '14-02-2024' '15-02-2024' '16-02-2024' '17-02-2024'
 '18-02-2024' '19-02-2024' '20-02-2024' '21-02-2024' '22-02-2024'
 '23-02-2024' '24-02-2024' '25-02-2024' '26-02-2024' '27-02-2024'
 '28-02-2024' '29-02-2024' '01-03-2024' '02-03-2024' '03-03-2024'
 '04-03-2024' '05-03-2024' '06-03-2024' '07-03-2024' '08-03-2024'
 '09-03-2024' '10-03-2024' '11-03-2024' '12-03-2024' '13-03-2024'
 '14-03-2024' '15-03-2024' '16-03-2024' '17-03-2024' '18-03-2024'
 '19-03-2024' '20-03-2024' '21-03-2024' '22-03-2024' '23-03-2024'
 '24-03-2024' '25-03-2024' '26-03-2024' '27-03-2024' '28-03-2024'
 '29-03-2024' '30-03-2024' '10-01-2024' '16-01-2024' '31-03-2024']

Unique values in 'days_between': [ 1.  2.  3.  4.  5.  6.  7.  8. 10. 11. 12. 13. 14. 16. 17. 18. 19. 20.
 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38.
 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55. 56.
 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73. 74.
 75. 76. 77. 78. 79. 80. 81. 82. 83. 84. 85. 86. 87. 88. 89.  0.  9. 15.]

Unique values in 'last_promo_d': [1 2 0 3]

Unique values in 'payment_method_d': [0 1 2]

Unique values in 'total_week': [ 2  3  4  5  7  6 16 23  8 12 21 14 15 10 11 13 20 26  9 17 54 30 18 25
 42 19 32 36 22 28 34 24 33 39 27 47 37 58 41 38 63 31 69 35 52 82 90 94
 43 61 70 60 55  1  0 29 51 53 65 40 45 91 50 75 49 48 44 62]

Unique values in 'total_orders': [ 2  3  4  5  7  6 16 23  8 12 21 14 15 10 11 13 20 26  9 17 54 30 18 25
 42 19 32 36 22 28 34 24 33 39 27 47 37 58 41 38 63 31 69 35 52 82 90 94
 43 61 70 60 55  1  0 29 51 53 65 40 45 91 50 75 49 48 44 62]

Unique values in 'is_repeat_customer': [1 0]

Unique values in 'has_used_promo': [1 0]

In [5]:
data = data.dropna()

In [13]:
data.head(3)

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,CUI_American,CUI_Asian,CUI_Beverages,CUI_Cafe,CUI_Chicken Dishes,CUI_Chinese,CUI_Desserts,CUI_Healthy,CUI_Indian,CUI_Italian,CUI_Japanese,CUI_Noodle Dishes,CUI_OTHER,CUI_Street Food / Snacks,CUI_Thai,DOW_0,DOW_1,DOW_2,DOW_3,DOW_4,DOW_5,DOW_6,HR_0,HR_1,HR_2,HR_3,HR_4,HR_5,HR_6,HR_7,HR_8,HR_9,HR_10,HR_11,HR_12,HR_13,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23,first_order_date,last_order_date,days_between,last_promo_d,payment_method_d,total_week
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,28.88,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,01-01-2024,02-01-2024,1.0,1,0,2
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,12.82,6.39,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,01-01-2024,02-01-2024,1.0,2,0,2
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,9.20,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,01-01-2024,02-01-2024,1.0,2,1,2

*Dates*

In [19]:
from datetime import datetime, timedelta

start_date = datetime(2024, 1, 1)

data['first_order_date'] = data['first_order'].apply(
    lambda x: (start_date + timedelta(days=x)).strftime('%d-%m-%Y')
)

data['last_order_date'] = data['last_order'].apply(
    lambda x: (start_date + timedelta(days=x)).strftime('%d-%m-%Y')
)

*Days between the first and last transaction*

In [20]:
data['days_between'] = data['last_order'] - data['first_order']

*Dummies for Last Promotion variable*

In [21]:
data['last_promo_d'] = data['last_promo'].replace({
    '-': 0,
    'DELIVERY': 1,
    'DISCOUNT': 2,
    'FREEBIE': 3
})

*Dummies for Payment Method*

In [22]:
data['payment_method_d'] = data['payment_method'].replace({
    'DIGI': 0,
    'CASH': 1,
    'CARD': 2
})

*Total orders per week*

In [23]:
data['total_orders'] = data['DOW_0'] + data['DOW_1'] + data['DOW_2'] + data['DOW_3'] + data['DOW_4'] + data['DOW_5'] + data['DOW_6']

*Average hour for order placed*

In [24]:
hourly_orders = data.filter(like='HR_')

def avg_hour(row):
    total_orders = row.sum()
    
    if total_orders == 0:
        return None  
    
    weighted_sum_hours = (row.index.str.replace('HR_', '').astype(int) * row).sum()
    return weighted_sum_hours / total_orders

# Apply the function to each row and create a new column
data['avg_order_hour'] = hourly_orders.apply(avg_hour, axis=1)

*Total Spend*

In [25]:
columns_to_sum = [
    'CUI_American', 'CUI_Asian', 'CUI_Beverages', 'CUI_Cafe',
    'CUI_Chicken Dishes', 'CUI_Chinese', 'CUI_Desserts',
    'CUI_Healthy', 'CUI_Indian', 'CUI_Italian', 
    'CUI_Japanese', 'CUI_Noodle Dishes', 'CUI_OTHER', 
    'CUI_Street Food / Snacks', 'CUI_Thai'
]


data['total_spend'] = data[columns_to_sum].sum(axis=1)

*Average Spend per Product*

In [35]:
data['avg_spend_prod'] = np.where(data['product_count'] > 0, 
                                   data['total_spend'] / data['product_count'], 
                                   0)

*Customers that made more than 1 order*

In [27]:
data['is_repeat_customer'] = (data['days_between'] > 0).astype(int)

*Promotion Engagement*

In [30]:
data['has_used_promo'] = (data['last_promo_d'] > 0).astype(int)